@font-face {
  font-family: 'Arial Rounded Bold';
  src: url('this://app/css/arial-rounded-bold.ttf');
}

@font-face {
  font-family: 'Warlord';
  src: url('this://app/css/warlord.ttf');
}

* {
  image-rendering: optimize-quality;
  border-radius: 0 !important;
}

html {
  var(filter): hue-rotate(200deg);
  filter: var(filter, hue-rotate(10deg));
  background-color: blue;
  overflow: none;
  border-radius: 15px;
  font-family: 'Arial Rounded Bold';
}

body {
  margin: 0;
  background-color: #ff6600;
  width: 500px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}

window-header {
  border-radius: 15px;
  display: block;
  width: *;
  flow: horizontal;
  height: 20dip;
  margin: 0;
  font: system;
}

window-caption {
  display: block;
  line-height: 20dip;
  width: *;
  padding: 0 1em;
  color: white;
}

a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
}

a:hover {
  color: white;
}

window-buttons {
  display: block;
  flow: horizontal;
  width: max-content;
  height: *;
  margin-right: 10dip;
}

window-button {
  behavior: clickable;
  display: block;
  height: 20dip;
  width: 20dip;
  foreground-size: 20dip;
  foreground-repeat: no-repeat;
  foreground-position: 50% -1dip;
  stroke: rgba(255, 255, 255, 0.85);
  stroke-width: 5dip;
}

window-button:hover {
  stroke: white;
}

window-button:active {
  foreground-position: 50% 0dip;
}

[role='window-minimize'] {
  foreground-image: url(path:M0 0 M0 5 H10 M10 10);
}

#contents {
  width: *;
  height: *;
  padding: 0px 20px 30px 20px;
  border-radius: 15px;
}

#title {
  box-sizing: border-box;
  //border: 2px dashed white;
  width: *;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  color: #ffb27f;
  margin-bottom: 15px;
  font-family: 'Warlord';
  letter-spacing: 0.0625em;
}

#volume-container {
  width: *;
  //border: 5px dashed red;
  box-sizing: border-box;
}

#volume-label {
  text-align: center;
  color: #ffb27f;
  font-weight: bold;
}

#volume-label,
#volume-ticks {
  width: *;
}

#volume-slider {
  width: *;
  display: block;
  box-sizing: border-box;
  height: 29px;
  background-size: 100% 5px;
  background-position: 0 50%;
  background-color: transparent;
  foreground-color: transparent;
  fill: #e7eaea;
}

#volume-slider > button.slider {
  border-width: 0;
  background: transparent;
  foreground: transparent;
  background-color: transparent;
  width: 18px;
  height: 29px;
  border-radius: 0px;
  background-image: url('this://app/png/slider-thumb.png');
  background-size: 18px 29px;
}

#menu-volume-slider {
  width: 100px !important;
  display: block;
}

#menu-volume-slider button.slider {
  width: 5px !important;
  height: 8px !important;
  background-image: url('this://app/png/slider-thumb.png');
  background-size: 5px 10px !important;
  background-color: transparent !important;
  border-width: 0;
}

#volume-ticks {
  height: 12px;
  width: *;
  flow: horizontal;
  border-spacing: *;
}

.tick {
  margin-top: *;
  width: 2px;
  height: 5px;
  background: white;
}

#dropdown-container {
  width: *;
  margin-top: 15px;
}

select {
  width: *;
  font-size: 38px;
  font-family: 'Arial Rounded Bold';
  background-color: #ff7f29;
  color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 4px;
}

option {
  filter: var(filter, hue-rotate(10deg));
}

option:disabled {
  filter: var(filter, hue-rotate(10deg)) brightness(-0.15);
}

select caption,
option:not(:hover) {
  background-color: #ff7f29;
}

option:hover,
option:active {
  background-color: #8684cb;
}

select button {
  padding: 10px;
  foreground-color: #ff7f29;
  background-color: #ff7f29;
  foreground-position: 0% 50%;
  foreground-size: 17px 11px;
  foreground-image: url('this://app/png/select-caret.png') !important;
}

#textarea-container {
  border-radius: 10px;
  height: 60px;
  width: *;
  box-sizing: border-box;
  background: lime;
}

textarea {
  box-sizing: border-box;
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 17px;
}

/* checkbox button */
@set std-checkbox < std-checkbox {
  :root {
    display: block;
    color: white;
    font-family: 'Arial Rounded MT Bold';
    font-size: 14px;
  }
}

checkbox {
  style-set: std-checkbox;
  margin-top: 14px;
}

#footer {
  flow: horizontal;
  width: *;
  border-spacing: *;
  margin-top: 4px;
}

#footer button {
  width: calc(33% - 40px);
  background: #FF7F29;
  color: #FFDFCB;
  border-radius: 15px;
  border-width: 0;
} 

#footer button:active {
  background: rgb(236, 117, 38);
}

#pause {
  text-transform: uppercase;
}