:root {
  var(color): rgba(255, 255, 255, 0.85);
  var(background-color): #2d2d2d;
}

#menu-start-at-login,
#scheme-typewriter {
  padding-left: 0.45em;
}

#menu-volume {
  
}

li > button {
  font-family: default !important;
  font-size: 1em !important;
  color: default !important;
}

menu {
  background-color: var(background-color, red);
  border-color: #3c4043;
}

menu > hr {
  border-color: #3c4043;
}

menu > li {
  color: var(color, red);
}

li:disabled {
  color: #8b9196;
}

li:hover {
  background-color: #4b4c4f;
}

#menu-about {
  //foreground-image: url(path: M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z);
  stroke: white;
  fill: blue;
}

#menu-quit {
  //foreground-image: url(path: M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z);
  stroke: black;
  fill: red;
}
